

/* COLORS */
.btn-danger{
    background-color: #cd3d0f;
}

.hero_second{
    background-color: #1f1f1f;
}

.text_hero_second{
    color: white;
}
/* HEADER */

.header_top{
    background-color: black;
}
.logo_header_top{
    height: 30px;
    margin: 3px 0;
}

.chevron_header{
    width: 10px;
}

.nav_right{
    justify-content: flex-end;
}

.lens_header{
    height: 25px;
}

.btn_header{
    border-radius: 40px;
    margin: 0 20px 0 10px;
}

/* MAIN */

.hero{
    padding-bottom: 150px;
}

.container_hero{
    width: 100%;
    min-height: 443px;
}

.box_img_hero img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.text_hero{
    padding-top: 320px;
    position: relative;
    color: white;
    margin-bottom: 100px;
}

.text_hero_title{
    width: 50%;
    padding-bottom: 20px;
}

.btn_hero{
    border-radius: 40px;
    margin: 5px 0;
}

.first_row{
    padding-top: 130px;
}

.box_img_thumb{
    padding: 10px 0;
}

.box_img_thumb img{
    width: 100%;
    border-radius: 30px;
}

.btn-primary{
    border-radius: 40px;
}
.img_col_right img{
    width: 100%;
}

.box_img_console{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box_img{
    width: calc(100% / 3);
}

.box_img img{
    width: 100%;
}

.text_hero_takestwo{
    padding-top: 50px;
    position: relative;
    color: white;
    margin-bottom: 180px;
}

.console{
    padding-bottom: 50px;
}

.hero_second{
    padding-bottom: 80px;
}

.box_img_play_four img{
    width: 100%;
}

.title_play_four{
    padding-top: 50px;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
    .box_img{
        width: calc(100% / 5);
    }
}

@media screen and (min-width: 992px) {
    .box_img{
        width: calc(100% / 5);
    }
}